Body {
    border: 3px solid black;
    margin: 0px;
    max-height: 100vh;
}

footer {
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.navbar ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-size: 0;
}

.navbar li {
    display: inline;
    list-style: none;
}

.navbar li a:link,
.navbar li a:visited {
    display: inline-block;
    margin-right: -6px;
    width: 140.7px;
    color: black;
    font-family: Verdana, sans-serif;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    background-color: red;
}

.navbar li.active>a {
    text-decoration: underline;
    background-color: red;
    color: blue;
}

.body {
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#myimage {
    width: 200px;
}